.fonts {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: large;
}
.fonts2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bottom-border {
  border-bottom: 4px solid;
}
.imgopacity {
  opacity: 0.85;
}
.custom-modal .modal-content {
  background-color: rgb(196, 173, 230);
  color: black;
  text-align: center;
}
/* .main-text {
  font-size: 3.3vw;
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  box-shadow: 0.3em 0.3em 1em 1em rgba(0, 0, 0, 0.1);
} */
.main-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.text-font-size {
  font-size: 2rem;
}
.text-font-size-btn {
  font-size: 1.1rem;
}
.text-font-size-btn-project {
  font-size: 1rem;
}
.text-font-size-des {
  font-size: 1rem;
}
/* .text-shadow-main {
  background-color: "rgba(0, 0, 0, 0.1)";
  padding-left: "1vw";
  box-shadow: "0.3em 0.3em 1em 1em rgba(0, 0, 0, 0.1)";
} */

.navbar-toggler-icon {
  font-size: 1rem;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.contact-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .logo-sign {
    height: 3rem;
  }
  .right-reserved {
    font-size: 0.6rem;
  }
  .img-height {
    height: 70vw;
  }
}

@media screen and (min-width: 768px) {
  .text-font-size-nav {
    font-size: 1.3rem;
  }

  .logo-sign {
    height: 4rem;
  }

  .text-font-size-nav {
    font-size: 2rem;
  }
  .img-height {
    height: 70vw;
  }
}

@media screen and (min-width: 1000px) {
  .img-height {
    height: 40vw;
  }
  .main-text {
    font-size: 2vw;
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding-left: 20px;
    /* box-shadow: 0.3em 0.3em 1em 1em rgba(0, 0, 0, 0.1); */
  }
  .text-font-size-des {
    font-size: 1.2rem;
  }
  .text-font-size-btn {
    font-size: 2rem;
  }
  .text-font-size {
    font-size: 3rem;
  }
}
.card-img-top {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}
.custom-blue-button {
  background-color: #407a7c; /* Your custom blue color */
  color: #ffffff; /* Text color */
}

.custom-blue-button:hover {
  background-color: #5f9ea0; /* Darker shade of blue on hover */
  color: #ffffff; /* Text color */
}
@keyframes zoom-in {
  from {
    transform: scale(1.2); /* Initial scale */
  }
  to {
    transform: scale(1); /* Zoomed scale */
  }
}
@media (max-width: 768px) {
  .container-fluid.img-height {
    background-size: 30%;
  }

  .main-text {
    font-size: 12px;
    margin-left: 10px;
  }
}
@media (max-width: 350px) {
  .container-fluid.img-height {
    background-size: 20%;
  }

  .main-text {
    font-size: 8px;
    margin-left: 10px;
  }
}
